html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    min-height: 100vh;
}


.container-home {
    align-content: baseline;
}


.main{
    height: calc(100% - 4.1rem);
}

.table>tbody {
    vertical-align: middle !important;
}

.tabla-encabezado{
    background-color: #6c757d24;
}

.header{
    background-color: #d63384;
}

.tabla-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.contenido{
    align-content: baseline;
}


.table-summary{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
    .table {
      display: block;
      overflow-x: auto;
    }
}
